<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>مدیریت فروشگاه</title>
        {% load static %}
        <link rel="stylesheet" href="{% static "css/main.css" %}">
        <link rel="stylesheet" href="{% static "css/admin.css" %}">
        
</head>
<body>

    <div class="admin-nav">
        <button class="sidebar-opener" onclick="openSidebar()"> <img class="open" src="{% static "img/icons/open-menu.svg" %}" alt=""> <img class="close" src="{% static "img/icons/close.svg" %}" alt=""> </button>
        <h3>پنل مدیریت فروشگاه</h3>
        <div class="spacer"></div>
        <a href="{% url "logout" %}">خروج <img src="{% static "img/icons/exit.svg" %}" alt=""></a>
    </div>

    <div class="admin-container">
        <div class="sidebar">
            <a href="{% url "stats" %}" class="{% block statSelected %}{% endblock %}">آمار فروش</a>
            <a href="{% url "storage" %}" class="{% block storageSelected %}{% endblock %}">مدیریت انبار</a>
            <a href="{% url "addproduct" %}" class="{% block addproductSelected %}{% endblock %}">اضافه کردن محصول </a>

        </div>
        <div class="content">
            <h2>{% block title %}{% endblock %}</h2>
            <br>
            {% block content %}{% endblock %}

        </div>

    </div>

    
    <script src="{% static "js/admin-panel.js" %}"></script>
</body>
</html>