{% extends "master.html" %}

{% block title %}
سبد خرید
{% endblock %}



{% block content %}
{% load static %}

<div class="container cart-product">
    <h1>سبد خرید خرید</h1>


    {% if message %}
    <div class="message">
        {{ message }}
    </div>
    {% endif %}


    {% if error %}
    <div class="error">
        {{ error }}
    </div>
    {% endif %}

    {% if items %}


    {% for item in items %}
    <form action="" method="POST" class="record-container">
        {% csrf_token %}
        <div class="info-container">
            <img src="{{ item.product_id.image }}" alt="">
            <div class="info">
                <h3>{{item.product_id.name}}</h3>
                <br>
                <span> {{item.product_id.price}} تومان  </span>
            </div>
        </div>
        <div class="count-container">
            <span>تعداد</span>
            <input type="number" name="quantity" min="1" value="{{item.quantity}}">
            <input type="hidden" name="item-id" value="{{ item.id }}">
            <br>
            <button type="submit" formaction="{% url "remove-product" %}">حذف</button>
            <button class="update-product" type="submit" formaction="{% url "update-product" %}">به روز رسانی</button>
        </div>
    </form>
    {% endfor %}

    <form method="POST" action="{% url "takeout" %}" class="delivery-container">
        {% csrf_token %}
        <h2>نحوه دریافت سفارش</h2>
        <br>
        <span>
            <input type="radio" name="takeout" value="0" {% if is_takeout %}  {% else %} checked="checked" {% endif %}>
            <span>دریافت حضوری</span>
        </span>
        <br>
        <br>
        <span>
            <input type="radio" name="takeout" value="1" {% if is_takeout %}  checked="checked"{% else %}  {% endif %}>
            <input type="hidden" name="order-id" value="{{ order_id }}">
            <span>  ارسال به آدرس شما   <span style="color: grey;"> هزینه ارسال ۲۰ هزار تومان </span>  </span>
            <br><br>
            <input type="submit" value="به روز رسانی" class="update-product">
        </span>
    </form>
    <br>
    <div class="total-price">
        <span>قابل پرداخت</span>
        <span>{{ total }} تومان</span>
    </div>
    <br><br>
    <div class="buttons-container">
        <button class="cancel">لغو سفارش</button>
        <button class="finalize">پرداخت و ثبت سفارش</button>
    </div>

    {% else %}

    <div class="cart-no-item">
        <img src="{% static "img/icons/empty-box.svg" %}" alt="">
        سبد خرید شما خالی است
    </div>

    {% endif %}


    
</div>



{% endblock %}