{% extends "master.html" %}

{% block title %}
سبد خرید
{% endblock %}



{% block content %}
{% load static %}

<div class="container cart-product">
    <h1>سبد خرید خرید</h1>
    {% for i in list %}
    <div class="record-container">
        <div class="info-container">
            <img src="{% static "" %}" alt="">
            <div class="info">
                <h3>کارامل ماکیاتو</h3>
                <br>
                <span>۹۸۰۰۰ تومان</span>
            </div>
        </div>
        <div class="count-container">
            <span>تعداد</span>
            <input type="number" min="1" value="1">
            <br>
            <button>حذف</button>
        </div>
    </div>
    {% endfor %}

    <div class="delivery-container">
        <h2>نحوه دریافت سفارش</h2>
        <br>
        <span>
            <input type="radio" name="takeout" value="0" checked="checked">
            <span>دریافت حضوری</span>
        </span>
        <br>
        <br>
        <span>
            <input type="radio" name="takeout" value="1">
            <span>  ارسال به آدرس شما   <span style="color: grey;"> هزینه ارسال ۲۰ هزار تومان </span>  </span>
        </span>
    </div>
    <br>
    <div class="total-price">
        <span>قابل پرداخت</span>
        <span>۲۷۶۰۰۰ تومان</span>
    </div>
    <br><br>
    <div class="buttons-container">
        <button class="cancel">لغو سفارش</button>
        <button class="finalize">پرداخت و ثبت سفارش</button>
    </div>
    
</div>



{% endblock %}