{% extends "master.html" %}

{% block title %}
استارداکس | خوش‌آمدید
{% endblock %}



{% block content %}

{% load static %}

{% if slideshow %}

  <link rel="stylesheet" href="{% static "css/slideshow.css" %}">

  
  <div class="slideshow-container">
  
  <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <img src="{% static "img/slideshow/img1.png" %}" style="width:100%">

  </div>
  
  <div class="mySlides fade">
    <div class="numbertext">2 / 3</div>
    <img src="{% static "img/slideshow/img2.png" %}" style="width:100%">

  </div>
  
  <div class="mySlides fade">
    <div class="numbertext">3 / 3</div>
    <img src="{% static "img/slideshow/img3.png" %}" style="width:100%">

  </div>
  
  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>
  
  </div>
  
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span> 
    <span class="dot" onclick="currentSlide(2)"></span> 
    <span class="dot" onclick="currentSlide(3)"></span> 
  </div>

  {% endif %}

  <br>

  <div class="product-container">
    <h2>{{ title }}</h2>

    {% for product in products %}

    <form class="product" method="POST" action="{% url "add-to-cart"%}" >
      {% csrf_token %}
      <img src="{{ product.image }}" alt="">
      <br>
      <h3>{{ product.name }}</h3>
      <div class="product-bottom">
        <div class="price-container">
          <span class="price">{{ product.price }}</span>
          <span> تومان</span>
        </div>
        <input type="hidden" name="product_id" value="{{ product.id }}">
        <input type="submit" value="+">
      </div>
    </form>

    {% endfor %}

  </div>



  
  <script src="{% static "js/slideshow.js" %}"></script>
  

{% endblock %}