<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" href="{% static "css/main.css" %}">
</head>
<body>

    <div class="navbar">
        <a class="logo" href="{% url "home" %}">
            <img src="{% static "img/logo.jpeg" %}" alt="">
            استارداکس!
        </a>
        {% if user.is_authenticated %}
        <div class="nav-item">
            محصولات
            <img src="{% static "img/icons/down-arrow.svg"%}" alt="">
            
                <div class="nav-vertical-box">
                    <ul>
                        <li><a href="/?vertical=warm_drink"> نوشیدنی‌های گرم <img src="{% static "img/icons/left-arrow.svg" %}" alt=""> </a></li>
                        <li><a href="/?vertical=cold_drink"> نوشیدنی‌های سرد <img src="{% static "img/icons/left-arrow.svg" %}" alt=""> </a></li>
                        <li><a href="/?vertical=cake"> کیک‌ها <img src="{% static "img/icons/left-arrow.svg" %}" alt=""> </a></li>
                    </ul>
        
                </div>
        </div>

        <div class="spacer"></div>
        <div class="nav-item">
            حساب کاربری
            {{ user.username }}
            <img src="{% static "img/icons/down-arrow.svg"%}" alt="">

                <div class="nav-vertical-box">
                    <ul>
                        <li><a href=""> سبد خرید <img src="{% static "img/icons/cart.svg" %}" alt=""></a></li>
                        <li><a href=""> سوابق خرید <img src="{% static "img/icons/history.svg" %}" alt=""></a></li>
                        <li><a href="{% url "logout" %}"> خروج <img src="{% static "img/icons/exit.svg" %}" alt=""></a></li>
                    </ul>
            
                </div>
        </div>
        {% endif %}
    </div>

    {% block content %}{% endblock %}
    
    <div class="footer">
        <h2>استارداکس!</h2>
        <br>
        <div>
            <ul>
                <li><a href="/?vertical=warm_drink">نوشیدنی‌های گرم</a></li>
                <li><a href="/?vertical=cold_drink">نوشیدنی‌های سرد</a></li>
                <li><a href="/?vertical=cake">کیک‌ها</a></li>
            </ul>

            <ul>
                <li><a href="login">ورود/ ثبت نام</a></li>
                <li><a href="">سبد خرید</a></li>
                <li><a href="">سوابق خرید</a></li>
            </ul>

            <div class="spacer"></div>

            <img class="enamad" src="{% static "img/enamad.png"%}" alt="">
        </div>
    
    </div>

</body>
</html>