{% extends "master.html" %}

{% block title %}
سوابق خرید
{% endblock %}



{% block content %}

<div class="history-container">
    <h1>سوابق خرید</h1>
    {% for order in orders %}
    <div class="record-container">
        <div class="container-header">
            <span>شناسه سفارش: {{order.order_id}}</span>
            <span>تاریخ: {{order.date}}</span>
        </div>
        <div class="container-body">
            <ul>
                {% for item in order.items %}
                <li><span>{{ item.product_id.name }}</span><div class="spacer"></div><span>{{item.product_id.price}} تومان</span></li>
                {% endfor %}
                <li><span>هزینه ارسال</span><div class="spacer"></div><span>{{order.delivery_cost}} تومان</span></li>
            </ul>
    
            <span>پرداخت شده: {{order.total}} تومان</span>
    
        </div>
        
    </div>
    {% endfor %}
    
</div>



{% endblock %}