{% extends "admin-master.html" %}


{% block statSelected %}
selected
{% endblock %}

{% block storageSelected %}
{% endblock %}

{% block addproductSelected %}
{% endblock %}

{% block title %}
آمار فروش
{% endblock %}

{% block content %}
<form action="" class="stat-form">
    <div>
        <span>محصول</span>
        &nbsp;
        &nbsp;
        <select name="" id="">
            <option value="">موکا</option>
        </select>
        &nbsp;
        &nbsp;
        <span>از تاریخ</span>
        &nbsp;
        &nbsp;
        <input type="date" name="" id="">
        &nbsp;
        &nbsp;
        <span>تا تاریخ</span>
        &nbsp;
        &nbsp;
        <input type="date" name="" id="">

    </div>
    
    <input type="submit" value="فیلتر">


</form>
<br>
<br>
<canvas class="chart-canvas"></canvas>

<br><br><br>
{% endblock %}