{% extends "admin-master.html" %}


{% block statSelected %}
{% endblock %}

{% block storageSelected %}
selected
{% endblock %}

{% block addproductSelected %}
{% endblock %}

{% block title %}
مدیریت انبار
{% endblock %}


{% block content %}
{% load static %}
<form method="POST" class="ingredient-form">
    {% if error %}
    <div class="error">
        {{ error }}
    </div>
    {% endif %}


    {% if message %}
    <div class="message">
        {{message}}
    </div>
    {% endif %}
    {% csrf_token %}


    <div class="ingredient-container">
        <div class="current-container">
            <div>
                <h3>شکر</h3> <span>موجودی فعلی: {{ sugar }} گرم</span>
            </div>
        </div>
        <div class="change-container">
            <div>
                <span>موجودی جدید</span>
                &nbsp;
                &nbsp;
                {{ form.sugar }}
                <!-- <input type="number" name="sugar"> -->
                &nbsp;
                &nbsp;
                <span>گرم</span>

            </div>
            <input type="submit" value="اعمال تغییرات">
        </div>
    </div>

    <div class="ingredient-container">
        <div class="current-container">
            <div>
                <h3>آرد</h3> <span>موجودی فعلی: {{flour}} گرم</span>
            </div>
        </div>
        <div class="change-container">
            <div>
                <span>موجودی جدید</span>
                &nbsp;
                &nbsp;
                {{form.flour}}
                <!-- <input type="number" name="flour"> -->
                &nbsp;
                &nbsp;
                <span>گرم</span>

            </div>
            <input type="submit" value="اعمال تغییرات">
        </div>
    </div>

    <div class="ingredient-container">
        <div class="current-container">
            <div>
                <h3>قهوه</h3> <span>موجودی فعلی: {{raw_coffee}} گرم</span>
            </div>
        </div>
        <div class="change-container">
            <div>
                <span>موجودی جدید</span>
                &nbsp;
                &nbsp;
                {{form.raw_coffee}}
                <!-- <input type="number" name="coffee"> -->
                &nbsp;
                &nbsp;
                <span>گرم</span>

            </div>
            <input type="submit" value="اعمال تغییرات">
        </div>
    </div>

    <div class="ingredient-container">
        <div class="current-container">
            <div>
                <h3>شکلات</h3> <span>موجودی فعلی: {{chocolate}} گرم</span>
            </div>
        </div>
        <div class="change-container">
            <div>
                <span>موجودی جدید</span>
                &nbsp;
                &nbsp;
                {{form.chocolate}}
                <!-- <input type="number" name="chocolate"> -->
                &nbsp;
                &nbsp;
                <span>گرم</span>

            </div>
            <input type="submit" value="اعمال تغییرات">
        </div>
    </div>


</form>

{% endblock %}